<h1>Choose your adventure</h1>
<div class="row" id="a3-selection">
    <div class="col-md-4">
        <div class="card">
            <img src="/assets/A3_Assistant.png" class="card-img-top" alt="Assistant">
            <div class="card-body">
                <h5 class="card-title">Assistant</h5>
                <p class="card-text">Helps you with the repetitive, quantity-focused aspects of your job.</p>
                <a href="#assistant" class="btn btn-primary">Choose Assistant</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/assets/A3_Advisor.png" class="card-img-top" alt="Assistant">
            <div class="card-body">
                <h5 class="card-title">Assistant</h5>
                <p class="card-text">Helps you make decisions, weight pros and cons and consider different viewpoints.
                </p>
                <a href="#advisor" class="btn btn-primary">Choose Advisor</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/assets/A3_Author.png" class="card-img-top" alt="Assistant">
            <div class="card-body">
                <h5 class="card-title">Assistant</h5>
                <p class="card-text">Helps you create content and generate ideas, be it text, images or any other
                    format.</p>
                <a href="#author" class="btn btn-primary">Choose Author</a>
            </div>
        </div>
    </div>
</div>