<div class="row">
    <div class="col-4 mx-auto">
        <form id="signin-form" class="">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div id="login-failed" class="alert alert-danger d-none" role="alert">
                Login failed. Please check your credentials.
            </div>
            <div class="mb-3">
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            </div>
            <div class="mb-3">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>

    <p class="mt-5 mb-3 text-muted">© 2025 ICE Campus</p>
    </form>
</div>
</div>